
<h1 class="text-center">Quotes</h1>

<div id='quote_main' class='col-lg-12'>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
              <th>Quote</th>
              <th>Author</th>
              <th>Source</th>
              <th></th>
            </tr>
        </thead>

        <tbody>
        <% @quotes.each do |q| %>
            <tr>
              <td><%= q.text %></td>
              <td><%= q.author %></td>
              <td><%= q.source %></td>
              <td><%= link_to 'Edit', edit_quote_path(q) %> </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>