
<div class='random_quote_main col-lg-8 col-lg-offset-2'>
  <div class="page-header">
    <h1><%= @quote.text %> <br />
      <small><%= @quote.citation %></small>
    </h1>
  </div>

  <p class="text-center">
    <%= link_to 'Home', root_path %>
  </p>
</div>


