
<div class='col-lg-8 col-lg-offset-2'>
  <div class="jumbotron">
    <h1>Dostoyevsky.me</h1>
    <p>Your source for random Dostoyevsky quotes!</p>

    <p><%= link_to 'Get a random quote', '/quotes/random', class: 'btn btn-primary btn-lg' %></p>

    <p style="padding-bottom: 5px;"></p>

    <p>Want a random quote in <%= link_to 'JSON?', '/quotes/random.json' %></p>
  </div>

</div>
