// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#quote_main {
  margin-top: 25px;
}

.random_quote_main {
  margin-top: 45px;
}

#notifications {
  text-align: center;
}

#footer {
  text-align: center;
  margin-top: 200px;
}